---

const navegacion = [
    {
        titulo:"Sobre mi",
        link: "/sobreMi"
    },
    {
        titulo:"Proyectos",
        link: "/proyectos"
    },
    {
        titulo:"Contactame",
        link: "/contactame"
    }
]

---

<div class="w-full h-1/4 px-20 pt-20 flex justify-between items-center font-principal font-medium max-sm:flex-col max-sm:mb-5 ">
 
    <div class="flex ml-5 max-sm:ml-0 max-sm:mb-3">
        <p class="p-1 rounded-md transition hover:transition hover:-translate-x-2 hover:-translate-y-2 hover:shadow-[5px_5px_1px_#D92525]"><a class="text-4xl text-red-600 font-black " href="/"> JS </a></p>
    </div>

    <div class="mr-5 ">
        <ul class="flex flex-row [&>li>a]:ml-4 max-sm:flex-col max-sm:text-center">
            {navegacion.map( navegar => (
                <li> <a class="hover:text-red-600" href={navegar.link}>{navegar.titulo}</a></li>
            ))}
        </ul>
    </div>

</div>